<%= form_for @prova, :html => { :class => "form-horizontal" } do |f| %>
	
	<div id="passo1" data-background-position="0">
		<% if @prova.errors.any? %>
	    <div class="error_messages">
	      <h2><%= pluralize(@prova.errors.count, "error") %> prohibited this prova from being saved:</h2>
	      <ul>
	      <% @prova.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

		<div class="control-group row">
			<div class="control-label span2">
				<%= f.label :disponivel_data_inicio, 'Disponível de' %>
				<span class="required" title="Campo obrigatório">*</span>
			</div>
			<div class="controls span4" style="width: 88px">
				<%= f.text_field :disponivel_data_inicio, :readonly => "" %>
			</div>
			<div class="control-label" style="margin-left: 13px">
				<%= f.label :disponivel_data_fim, 'até' %>
			</div>
			<div class="controls span4" style="width: 88px; margin-left:13px">
				<%= f.text_field :disponivel_data_fim, :readonly => "" %>
			</div>
		</div>

		<div class="control-group row">
			<div class="control-label span2">
				<%= f.label :titulo %>
				<span class="required" title="Campo obrigatório">*</span>
			</div>
			<div class="controls span4">
				<%= f.text_field :titulo, {:placeholder => "Digite o título da prova", :maxlength => 30} %>
			</div>
		</div>

		<div class="control-group row">
			<div class="control-label span2">
				<%= f.label :cabecalho, 'Cabeçalho' %>
			</div>
			<div class="controls span4">
				<%= f.text_field :cabecalho, :placeholder => "Digite o cabeçalho da prova" %>
			</div>
		</div>

		<div class="control-group row">
			<div class="control-label span2">
				<%= f.label :rodape, 'Rodapé' %>
			</div>
			<div class="controls span4">
				<%= f.text_field :rodape, :placeholder => "Digite o rodapé da prova" %>
			</div>
		</div>

		<div class="control-group row" style="margin-left: 25px">
			<div class="controls span4" style="width: 50px">
				<%= f.text_field :qtd_verdadeira_anula %>
			</div>
			<div class="control-label" style="margin-left: 17px">
				<span>
					alternativas erradas anulam
				</span>
			</div>
			<div class="controls span4" style="width: 50px">
				<%= f.text_field :qtd_falsa_para_anular %>
			</div>
			<div class="control-label" style="margin-left: 17px">
				<span>
					alternativas corretas
				</span>
			</div>
		</div>

		<div class="control-group row">
			<div class="control-label span2">
				<%= f.label :duracao, 'Duração' %>
				<span class="required" title="Campo obrigatório">*</span>
			</div>
			<div class="controls span4">
				<%= f.text_field :duracao, { :placeholder => "Duração máxima da prova", :maxlength => 3 } %>
			</div>
		</div>

		<div class="control-group row">
			<div class="control-label span2">
				<label>Justificativas</label>
			</div>
			<div class="controls span4">
				<%= f.label :justificar_falsa, :class => "control-checkbox" do %>
					<%= f.check_box :justificar_falsa %>
					Justificar Erradas
				<% end %>
				<%= f.label :justificar_verdadeira, :class => "control-checkbox" do %>
					<%= f.check_box :justificar_verdadeira %>
					Justificar Corretas
				<% end %>
			</div>
		</div>
	</div>

	<div id="passo2" data-background-position="-22">
		<div class="add_questao" style="float:right;margin-right:20px;margin-bottom:20px">
			<%= link_to_add_fields "Adicionar Questão", f, :questaos %>
		</div>
		<ul class="questoes" style="clear:both">
			<%= f.fields_for :questaos do |builder| %>
				<%= render 'questao_campos', f: builder %>
			<% end %>
		</ul>
	</div>

	<div id="passo3" data-background-position="-44">
		#PASSO3
	</div>
<% end %>