<ul class="questoes" style="clear:both">
	<li>
		<span>Questão 1</span>
		<ul>
			<li>
				<span>
					<div class="control-group control-inline" style="margin-bottom:5px">
					  <div class="control-label" style="margin-right:50px">
					    <label for="UNIQUE_ID">Valor</label>
					  </div>
					  <div class="controls">
					    <input type="text" placeholder="Pontos da questão" style="width:150px"/>
					  </div>
					</div>
				</span>
			</li>
			<li>
				<span>
					<div class="control-group control-inline">
					  <div class="control-label" style="margin-right:20px">
					    <label for="UNIQUE_ID">Enunciado</label>
					  </div>
					  <div class="controls">
					    <textarea placeholder="Enunciado da questão" style="width:450px; height:70px; max-height:70px"></textarea>
					  </div>
					</div>
				</span>
			</li>
			<%= render "form_proposicoes" %>
		</ul>
	</li>
	<li>
		<span>Questão 2</span>
		<ul>
			<li>
				<span>
					<div class="control-group control-inline" style="margin-bottom:5px">
					  <div class="control-label" style="margin-right:50px">
					    <label for="UNIQUE_ID">Valor</label>
					  </div>
					  <div class="controls">
					    <input type="text" placeholder="Pontos da questão" style="width:150px"/>
					  </div>
					</div>
				</span>
			</li>
			<li>
				<span>
					<div class="control-group control-inline">
					  <div class="control-label" style="margin-right:20px">
					    <label for="UNIQUE_ID">Enunciado</label>
					  </div>
					  <div class="controls">
					    <textarea placeholder="Enunciado da questão" style="width:450px; height:70px; max-height:70px"></textarea>
					  </div>
					</div>
				</span>
			</li>
			<%= render "form_proposicoes" %>
		</ul>
	</li>
	<li>
		<span>Questão 2</span>
		<ul>
			<li>
				<span>
					<div class="control-group control-inline" style="margin-bottom:5px">
					  <div class="control-label" style="margin-right:50px">
					    <label for="UNIQUE_ID">Valor</label>
					  </div>
					  <div class="controls">
					    <input type="text" placeholder="Pontos da questão" style="width:150px"/>
					  </div>
					</div>
				</span>
			</li>
			<li>
				<span>
					<div class="control-group control-inline">
					  <div class="control-label" style="margin-right:20px">
					    <label for="UNIQUE_ID">Enunciado</label>
					  </div>
					  <div class="controls">
					    <textarea placeholder="Enunciado da questão" style="width:450px; height:70px; max-height:70px"></textarea>
					  </div>
					</div>
				</span>
			</li>
			<%= render "form_proposicoes" %>
		</ul>
	</li>
	<li>
		<span>Questão 2</span>
		<ul>
			<li>
				<span>
					<div class="control-group control-inline" style="margin-bottom:5px">
					  <div class="control-label" style="margin-right:50px">
					    <label for="UNIQUE_ID">Valor</label>
					  </div>
					  <div class="controls">
					    <input type="text" placeholder="Pontos da questão" style="width:150px"/>
					  </div>
					</div>
				</span>
			</li>
			<li>
				<span>
					<div class="control-group control-inline">
					  <div class="control-label" style="margin-right:20px">
					    <label for="UNIQUE_ID">Enunciado</label>
					  </div>
					  <div class="controls">
					    <textarea placeholder="Enunciado da questão" style="width:450px; height:70px; max-height:70px"></textarea>
					  </div>
					</div>
				</span>
			</li>
			<%= render "form_proposicoes" %>
		</ul>
	</li>
	<li>
		<span>Questão 2</span>
		<ul>
			<li>
				<span>
					<div class="control-group control-inline" style="margin-bottom:5px">
					  <div class="control-label" style="margin-right:50px">
					    <label for="UNIQUE_ID">Valor</label>
					  </div>
					  <div class="controls">
					    <input type="text" placeholder="Pontos da questão" style="width:150px"/>
					  </div>
					</div>
				</span>
			</li>
			<li>
				<span>
					<div class="control-group control-inline">
					  <div class="control-label" style="margin-right:20px">
					    <label for="UNIQUE_ID">Enunciado</label>
					  </div>
					  <div class="controls">
					    <textarea placeholder="Enunciado da questão" style="width:450px; height:70px; max-height:70px"></textarea>
					  </div>
					</div>
				</span>
			</li>
			<%= render "form_proposicoes" %>
		</ul>
	</li>
	<li>
		<span>Questão 2</span>
		<ul>
			<li>
				<span>
					<div class="control-group control-inline" style="margin-bottom:5px">
					  <div class="control-label" style="margin-right:50px">
					    <label for="UNIQUE_ID">Valor</label>
					  </div>
					  <div class="controls">
					    <input type="text" placeholder="Pontos da questão" style="width:150px"/>
					  </div>
					</div>
				</span>
			</li>
			<li>
				<span>
					<div class="control-group control-inline">
					  <div class="control-label" style="margin-right:20px">
					    <label for="UNIQUE_ID">Enunciado</label>
					  </div>
					  <div class="controls">
					    <textarea placeholder="Enunciado da questão" style="width:450px; height:70px; max-height:70px"></textarea>
					  </div>
					</div>
				</span>
			</li>
			<%= render "form_proposicoes" %>
		</ul>
	</li>
	<li>
		<span>Questão 2</span>
		<ul>
			<li>
				<span>
					<div class="control-group control-inline" style="margin-bottom:5px">
					  <div class="control-label" style="margin-right:50px">
					    <label for="UNIQUE_ID">Valor</label>
					  </div>
					  <div class="controls">
					    <input type="text" placeholder="Pontos da questão" style="width:150px"/>
					  </div>
					</div>
				</span>
			</li>
			<li>
				<span>
					<div class="control-group control-inline">
					  <div class="control-label" style="margin-right:20px">
					    <label for="UNIQUE_ID">Enunciado</label>
					  </div>
					  <div class="controls">
					    <textarea placeholder="Enunciado da questão" style="width:450px; height:70px; max-height:70px"></textarea>
					  </div>
					</div>
				</span>
			</li>
			<%= render "form_proposicoes" %>
		</ul>
	</li>
	<li>
		<span>Questão 2</span>
		<ul>
			<li>
				<span>
					<div class="control-group control-inline" style="margin-bottom:5px">
					  <div class="control-label" style="margin-right:50px">
					    <label for="UNIQUE_ID">Valor</label>
					  </div>
					  <div class="controls">
					    <input type="text" placeholder="Pontos da questão" style="width:150px"/>
					  </div>
					</div>
				</span>
			</li>
			<li>
				<span>
					<div class="control-group control-inline">
					  <div class="control-label" style="margin-right:20px">
					    <label for="UNIQUE_ID">Enunciado</label>
					  </div>
					  <div class="controls">
					    <textarea placeholder="Enunciado da questão" style="width:450px; height:70px; max-height:70px"></textarea>
					  </div>
					</div>
				</span>
			</li>
			<%= render "form_proposicoes" %>
		</ul>
	</li>
</ul>