<% content_for :header do %>
  <%= render "shared/professor_header" %>
<% end %>

<fieldset id="form_container">
	<div class="relatorio_select">
		<% if @provas.count != 0 %>
		<%= form_tag report_path, :target => "_blank" do %>
			<input type="hidden" name="disciplina" value="<%= params[:disciplina] %>" />
			<input type="hidden" name="professor_id" value="<%= params[:professor_id] %>" />
			<div class="control-group control-inline">
				<div class="control-label">
				    <label for="prova_id">Prova</label>
			  	</div>
			  	<div class="controls">
				    <%= collection_select(:prova, :id, @provas, :id, :titulo) %>
				</div>
				<div class="controls">
				    <input type="submit" value="Textual" name="report" class="button-default" />
				    <input type="submit" value="Excel" name="report" class="button-default" />
				</div>
			</div>
		<% end %>
		<% else %>
		<div class="message-block message-warning" style="width: 325px">
		    <div class="message-block-content" style="padding-right: 0px">
		        Não existem provas cadastradas para a disciplina atual.
		    </div>
		</div>
		<% end %>
	</div>
</fieldset>
