<fieldset class="grid_filter_container">
  <legend>Filtros</legend>
  <div id="grid_filter">
    <%= form_tag("", :method => "get") do %>
      <span>Excluir Provas:</span>
      <%= check_box_tag(:antigas, 1, params[:antigas] == "1" ? true : false) %>
      <%= label_tag(:antigas, "Antigas") %>
      <%= check_box_tag(:resolvidas, 1, params[:resolvidas] == "1" ? true : false) %>
      <%= label_tag(:resolvidas, "Resolvidas") %>
      <input type="hidden" value="<%= params[:disciplina]%>" name="disciplina" />
    <% end %>
  </div>
</fieldset>