<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Questões V ou F</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jquery.treeview", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "modernizr" %>
  <%= javascript_include_tag "filter_grid" %>
  <%= javascript_include_tag "jquery.treeview" %>
  <%= javascript_include_tag "kkcountdown" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<!-- Cabeçalho -->
		<header>
			<%= yield :header %>
			<div id="welcome">
				<span id="welcome_text">Bem Vindo, <%= @Aluno.get_nome_by_redu_id(params[:redu_id]).name %></span><br/>
				<span id="welcome_time">
					<strong>Horário Oficial: </strong> <%=	Time.now.strftime("%H:%M:%S") %>
				</span>
			</div>
		</header>

		<!-- Seção Principal -->
		<section id="main">
			<%= yield %>
		</section>

		<!-- Rodape -->
		<footer>
			<span>Questões V ou F - Redu Application - Copyright 2013</span>
		</footer>
	</div>
</body>
</html>
